<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>your details are successfully  submited</h1>
<!-- <a href="https://youtu.be/PkR3kpxeJZ8"></a> -->
<a href="https://www.youtube.com/watch?v=PkR3kpxeJZ8">click me</a>
<!-- <img src="{% static 'app/home(1).png'%}" alt="no img"> -->
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FIMG_%2528company%2529&psig=AOvVaw01h8dwcGO9ohB8vv5AJ5WF&ust=1676697877835000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJDJgb3om_0CFQAAAAAdAAAAABAE" alt="">
</body>
</html>
