<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Level up insitiute</title>
    <link rel="icon" href="./photos/LevelUp_FINAL_-_ICON (2).png">
    <link rel="stylesheet" href="{% static 'css/site.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="./contact us.css"> -->
  <!-- <link rel="stylesheet" href="./new-from.css"> -->
  <!-- <link rel="stylesheet" href="./create new account-from.css"> -->
  <!-- <link rel="stylesheet" href="./courses.css"> -->
  <script src="https://kit.fontawesome.com/ce3233978a.js" crossorigin="anonymous"></script>
  </head>
  <body>

  

    <div>
      
      <!-- Nav tabs -->
      <!-- <header class=""> -->
        <nav class="navbar navbar-expand-sm navbar-light  container-fluid fixed-top  " >

        
          <div class="container">
         <div id="g"><a class="navbar-brand" href="#" >
            
             <span class="hell"><img src="{% static 'images/nav.png'%}" alt="" width="130px" height="60px"></span>
         </a></div>
       
         <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button> 
        
                 
         <div class="collapse navbar-collapse mx-auto justify-content-end "  id="collapsibleNavId"  >
             <ul class="nav navbar-nav-tabs  "  role="tablist">
                 <li class="nav-item active">
                     <a class="nav-link mx-xl-4"data-toggle="tab" href="#home" >HOME<span class="sr-only">(current)</span></a>
                 </li>
                
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle mx-xl-4" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(4, 4, 4);">COURSES</a>
                     <div class="dropdown-menu nav-item" aria-labelledby="dropdownId">
                         <a class="dropdown-item"  data-toggle="tab" href="#python">PYTHON</a>
                         <a class="dropdown-item" href="#">AWS</a>
                         <a class="dropdown-item" href="#menu1">FULL STACK</a>
                         <a class="dropdown-item" href="#">CLOUD</a>
                         <a class="dropdown-item" href="#">DEVOPS</a>
                         <a class="dropdown-item" data-toggle="tab" href="#courses">more</a>
                     </div>
                 </li>
                 
                 <li class="nav-item " >
                     <a class="nav-link mx-xl-4"data-toggle="tab" href="#contactus" style="color: rgb(4, 4, 4);">CONTACT US</a>
                 </li>
                 
                 <!-- <li class="nav-item ">
                     <a class="nav-link mx-xl-4"data-toggle="tab" href="#" style="color: rgb(4, 4, 4); font-weight:20px;">BLOG</a>
                 </li>
                -->
                 
                 
                 <li class="nav-item v">
                     <a class="nav-link mx-xl-4"data-toggle="tab" href="#signin"  style="border: 1px solid white; color:white; border-radius:60px ; width: 100px; text-align: center; background-color: orangered;">SIGN IN</a>
                 </li>
                 
                 
             </ul>
             
         </div>
         </div>
        </nav>
      <!-- </header> -->
      
<!-- <br><br><br><br><br><br><br><br><br><br> -->
    <div class="tab-content" >
      <br><br><br><br>
      <!-- <div style="background:  linear-gradient(100deg,#fac9cc,#FFE6FF);"> -->
        <div id="home" class="container tab-pane active" >
          <div class="container mk " style="background-image: url('{% static 'images/home.png'%}'); background-repeat: no-repeat;background-size: 55%; 
          background-position:right 100%;">

          
        
            <div class="man rounded-lg ">
            
           
                <input type="checkbox" id="ch" class="d-none" aria-hidden="true">
                <div class="sign w-100 h-100 pt-5 container"> 
                   
                   
                   <h1 class="" style="font-size: 58px; font-family: Bahnschrift;">Let <span style="color: #244061;">Level<samp style="font-family:Bahnschrift; color:#3399FF;">Up</samp></span> Help You Achieve Goals</h1>
                   <p style="font-size: 23px;">You can land an amazing job if you follow the right path and develop specific skills.</p> 
                   <div class="text-white my-xl-3">
                        
                    <button type="button" class="btn btn-secondary  rounded-circle mx-1">
                     <a href="#"><i class="fab fa-facebook-f text-white"></i></a>
                    </button>
                
                    <button type="button" class="btn btn-secondary rounded-circle mx-1">
                      <a href="#"><i class="fab fa-google text-white"></i></a>
                    </button>
                
                    <button type="button" class="btn btn-secondary rounded-circle mx-1">
                      <a href="#"><i class="fab fa-twitter text-white"></i></a>
                    </button>
                    
                    <button type="button" class="btn btn-secondary rounded-circle mx-1">
                      <a href="#"><i class="fab fa-instagram text-white"></i></a>
                    </button>
                
                    <button type="button" class="btn btn-secondary rounded-circle mx-1">
                      <a href="#"><i class="fab fa-github text-white"></i></a>
                    </button>
                  </div>
                
                    <label for="ch"  aria-hidden="true" class="justify-content-center text-center font-weight-bold d-flex mt-xl-5 ml-2 text-white w-25 l"><h4>ENQUIRY</h4></label>
        
                </div> 
                <div class="log w-100 h-100">
                    <div class="k rounded bg-light ">
                    <div class="container ">
                    <form > 
                        
                        <label for="ch"  aria-hidden="true" class="she justify-content-center d-flex m-1 font-weight-bold"> <h2>ENQUIRY FORM</h2>
                          <span class="pl-5">&#10540;</span></label>
                        <div class="row">
                            <div class="col">
                            <div class="form-outline">
                            <label for="text"> First Name:</label>
                            <input type="text" class="form-control rounded-lg" name="name" placeholder="First Name" required="" id="name">
                            </div>
                            </div>
                            
                            <div class="col">
                            <div class="form-outline">
                            <label for="text">Last Name:</label>
                            <input type="text" class="form-control rounded-lg" name="name" placeholder="Last Name" required="" id="name">
                            </div>
                            </div>
                            </div>
                           
                        <div>
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control rounded-lg" name="email" placeholder="Enter email" required="" id="email">
                            </div>
                            <div>
                              <label for="pwd">Mobile number:</label>
                            <input type="numbers"  class="form-control rounded-lg" name="numbers" placeholder="Enter Mobile number" id="pwd" required="">
                            </div>
                       
                            <div class="form-outline ">
                                <label class="form-label " for="form6Example7">Additional information</label>
                                <textarea class="form-control rounded-lg" id="form6Example7" placeholder="Additional information" rows="2"></textarea>
                               
                              </div>
        
                         <div class="text-center mt-xl-4 ">
                        <button type="submit" class="text-white font-weight-bold border-0 w-25 "><h6>SUBMIT</h6></button>
                        </div>
                        <div class="text-center m-1">
                        <a data-toggle="tab" href="#signin" >Sign in</a>
                        </div>
                    </form>
                    </div>
                    </div>
                </div>
                
            
                <img src="{% static 'images/home(1).png'%}" alt="" width="100%" height="100%">
            </div> 
        </div>
        <!--------------------------------------------------------------- Enquary from end---------------------------------------------------------->
        <br>
        <!-- -----------------------------------------------------------------courses start------------------------------------------------------------>
        <div class="container"> 
        <div class="photos ">
            
            <a href="#" class="python mx-xl-3 "><img src="{% static 'images/python1.png'%}" alt=""></a>
            
            
             <a href="#" class="AWS mx-xl-3 "><img src="{% static 'images/aws1.png'%}" alt=""></a>
            
             
             <a href="#" class="Azure mx-xl-3"><img src="{% static 'images/azure.png'%}" alt=""></a>
             
             
             <a href="#" class="cloud mx-xl-3"><img src="{% static 'images/Cloud1.png'%}" alt=""></a>
             
             <a href="#" class="developer mx-xl-3"><img src="{% static 'images/java.png'%}" alt=""></a>
             <!-- <a href="#"><img src="./photos/java.png" alt=""></a>  -->
           <div>
            <a href="#courses" data-toggle="tab"><button class="butt_out mx-xl-3" >All courses</button></a>
            </div>
            
        </div>
        </div>
        <br><br>
        <!-- -------------------------------------------------------------------course end-------------------------------------------------------- -->
        <div class="container row " >
            <div class="col-md-6">
                <h1 class="text-success font-weight-bold">
                    Here we have provide the the online classes also.
                </h1>
                <p class="font-weight-normal">Here we have provide the online classes if incase students appcent to the class we can provide online classes linkes to there mails and whatsapp.</p>
                <p>We can provide the recorded classes to there mails.students can access the videos life time and refers the topics.</p>
                <p>Level up teachers are giving daily assignments to the students.More information</p>
                
               <a href="#contactus" data-toggle="tab"><button type="submit" class="butt_out">Contact us</button></a> 
            </div>
            <div class="col-md-6">
    <img src="{% static 'images/mg.png'%}" alt="" class="w-100  rounded-lg">
            </div>
            </div><br><br>
        <!---------------------------------------------------------------about teachers start------------------------------------------------------- -->
        
        <div class="container">
        
            <div class="learn" >
                <h2>Learn more <span style="color:rgb(32, 4, 44);" class="sp">About Us</span></h2>
            </div> 
            </div>
           
        <div class="container  d-flex  justify-content-center">
          <div class="row d-flex  justify-content-center" >
            
                
                <div class="col-md-3 pt-3 bg-white   text-center" >
                    <div class=" d-flex justify-content-center"><img src="{% static 'images/first-prize.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="10%" height="60%" > <br> <br>
                        </div>
                    <h5 class="text-warning">The Best curriculums</h5>
                    
                    <!-- <div class="card-body">
                    
                    <h6 class="card-text">Python</h6>
                    </div>
                    <a href="">click</a> -->
                    A good curriculum reflects the needs of the individual.
                    The curriculum is in proper shape in order to meet the challenges of time and make education more responsive to the clientele it serves.
                   
                </div>
               
                <div class="col-md-3 pt-3 bg-secondary text-body  text-center " >
                    <div class=" d-flex justify-content-center"><img src="{% static 'images/abc.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="10%" height="70%" > <br> <br>
                        </div>
                    
                    <h5 class="text-white">The best trainers</h5>
                    <!-- <div class="card-body">
                       
                    <h6 class="card-text">django</h6>
                    </div> -->
                    <!-- <a href="">click</a> -->
                    Teaching is an art,So 
                   here we have the best trainers to educate you  and trainers is always considered very highly and respected by all student and friendly. 
                </div>
                <div class="col-md-3 pt-3 bg-white  text-center " >
                    <div class=" d-flex justify-content-center"><img src="{% static 'images/sicence.png'%}" alt="pyhton" class="  d-flex justify-content-center" width="10%" height="60%" > <br> <br>
                        </div>
            <h5 class="text-warning">Students</h5>
            
                        <!--<div class="card-body">
                       
                    <h6 class="card-text">Data engineering</h6>
                    </div>
                    <a href="">click</a> -->
                  Learning students are happy students.Happy students make's parents happy.we give parents a hand while giving students the tools to succeed 
                   
                </div>
              </div>
            </div> <br>
            <div class="container row" style="flex-direction: row-reverse;" >
              <div class="col-md-6">
               <h1 class="text-danger">Here's how trainers are interacted to the students.</h1>
               <p>The instructional supports refers to how trainers guide students in terms of educational and non-educational activities.</p>
               <p>This includes where trainers discuss the problems of students in terms of solving their queries.</p>
              <p>The teachers also encourage the students in learning new methods, techniques, and languages. This is the best method of real interaction between trainers and students.</p>
               <!-- <button class="butt_out" style="background-color:orangered;">About More</button> -->
           </div>
           
              <div class="col-md-6">
           <img src="{% static 'images/trainers.jpg'%}" alt="" class="w-100  rounded-lg">
              </div>
              
           </div>
           
        
        <!-- -----------------------------------------------------------about teachers end--------------------------------------------------------- -->
        <!----------------------------------------------------------------carousel start----------------------------------------------------------->
        <div class="container" >
            <div class="learn" >
                <h2>Words from our Students</h2>
            </div> 
        
              <div id="carouselId" class="carousel slide container" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselId" data-slide-to="1"></li>
                    <li data-target="#carouselId" data-slide-to="2"></li>
                    <li data-target="#carouselId" data-slide-to="3"></li>
                    <li data-target="#carouselId" data-slide-to="4"></li>
                    <li data-target="#carouselId" data-slide-to="5"></li>
                    <li data-target="#carouselId" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner container" role="listbox"  >
                    <div class="carousel-item active" style="margin-bottom: 30px;"  >
                        <div class="col-md-4 " >
                            <div class="card-header "><img src="{% static 'images/shareef.jpeg'%}" alt="shareef" class="rounded-circle" width="7%" height="60%" align="right"> <br> <br>
                                <i><img src="{% static 'images/stars.png'%}" alt="" width="30%" height=></i></div>
                            
                            
                            <div class="card-body" >
                               
                                <p class="card-text">The best Institute I've ever visited, very friendly teaching and helpful staff.I recommend every individual to join here to build a career of your choosing!</p>
                            </div>
                            <h3>shareef</h3>
                           
                        </div>
                    </div>
                    <div class="carousel-item"style="margin-bottom: 30px;"   >
                        <div class="col-md-4 " >
                            <div class="card-header "><img src="{% static 'images/madan.png'%}" alt="shareef" class="rounded-circle" width="7%" height="60%" align="right"> <br> <br>
                                <i><img src="{% static 'images/stars.png'%}" alt="" width="30%" height=></i></div>
                            
                            
                            <div class="card-body" >
                               
                                <p class="card-text">Best institute I never seen in Amerrpet. live classes and best trainer's with good stuff.
                                    # More partical knowledge we will gain.
                                    I feel that I have chosen good way.</p>
                            </div>
                            <h3>madan</h3>
                           
                        </div>
                    </div>
                    <div class="carousel-item" style="margin-bottom: 30px;" >
                        <div class="col-md-4 " >
                            <div class="card-header "><img src="{% static 'images/shareef.jpeg'%}" alt="shareef" class="rounded-circle" width="7%" height="60%" align="right"> <br> <br>
                                <i><img src="{% static 'images/stars.png'%}" alt="" width="30%" height=></i></div>
                            
                            
                            <div class="card-body" >
                               
                                <p class="card-text">One of the best institute for full stack python in Ameerpet. the way of teaching and pleasent surrounded class. Max number of strength in class have 35 members.</p>
                            </div>
                            <h3>shareef</h3>
                           
                        </div>
                    </div>
                    <div class="carousel-item" style="margin-bottom: 30px;" >
                        <div class="col-md-4 " >
                            <div class="card-header "><img src="{% static 'images/sami.JPG'%}" alt="shareef" class="rounded-circle" width="7%" height="60%" align="right"> <br> <br>
                                <i><img src="{% static 'images/stars.png'%}" alt="" width="30%" height=></i></div>
                            
                            
                            <div class="card-body" >
                               
                                <p class="card-text">Brilliant coach Sateesh.
                                    Level up also helps not just in learning but prepare you on the job ready.
                                    Best coaching Institute I would recommend.</p>
                            </div>
                            <h3>samiulla</h3>
                           
                        </div>
                    </div>
                    <div class="carousel-item" style="margin-bottom: 30px;" >
                        <div class="col-md-4 " >
                            <div class="card-header "><img src="{% static 'images/saddam.jpeg'%}" alt="shareef" class="rounded-circle" width="7%" height="60%" align="right"> <br> <br>
                                <i><img src="{% static 'images/stars.png'%}" alt="" width="30%" height=></i></div>
                            
                            
                            <div class="card-body" >
                               
                                <p class="card-text">I'm one of the student in this Level up institute..In this institute  they  will provide good subject knowledge and clear any doubts..and good faculty is there.🤝🤝</p>
                            </div>
                            <h3>saddam</h3>
                           
                        </div>
                    </div>
                    <div class="carousel-item" style="margin-bottom: 30px;">
                        <div class="col-md-4 " >
                            <div class="card-header "><img src="{% static 'images/balaji.jpg'%}" alt="shareef" class="rounded-circle" width="7%" height="60%" align="right"> <br> <br>
                                <i><img src="{% static 'images/stars.png'%}" alt="" width="30%" height=></i></div>
                            
                            
                            <div class="card-body" >
                               
                                <p class="card-text">Mohana ma'am and afiya mam has excellent teaching communication 💯... Ma'ams is so friendly nd unforgettable bonding between ma'ams and students💙</p>
                            </div>
                            <h3>balaji</h3>
                           
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        
        <!---------------------------------------------------------------- carousel end---------------------------------------------------------- -->

     
        <!-- </div> -->
  
         
      </div>
        <!-- ************************************courses**************************************-->
        <div id="courses" class="container tab-pane fade"> <br><br>
            <nav class="navbar navbar-expand-md bg-white navbar-dark container">
                <a class="navbar-brand text-dark font-weight-bold" href="#"> <h3>COURSES</h3></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="collapsibleNavbar">
                    <form class="form-inline" action="/action_page.php">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-dark" type="submit">Search</button>
                      </form>
                  
                </div>  
              </nav>
                                        
         <!-- The slideshow -->
         <div class="container  d-flex  justify-content-center" >
                                              <div class="row d-flex  justify-content-center" >
                                                
                                                    
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/python.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="60%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">Python</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                   
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/django.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="70%" height="70%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">django</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/data engineering.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="70%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">Data engineering</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/developer.jpg'%}" alt="pyhton" class=" d-flex justify-content-center" width="100%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text"> full stack Developer</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/js.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="70%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">javascript</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/html.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="70%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">HTML</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/css.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="70%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">CSS</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/azure.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="100%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">microsoft azure</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/sql.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="50%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">SQL</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/aws.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="60%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">aws</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/devops.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="100%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">devops</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/node js.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="100%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">node js</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/react.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="60%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">React</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/bootstrap.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="80%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">Bootstrap</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                                                    <div class="col-md-3 " >
                                                        <div class="card-header d-flex justify-content-center"><img src="{% static 'images/cloud.png'%}" alt="pyhton" class=" d-flex justify-content-center" width="100%" height="60%" > <br> <br>
                                                            </div>
                                                        
                                                        
                                                        <div class="card-body">
                                                           
                                                        <h6 class="card-text">Cloud</h6>
                                                        </div>
                                                        <a href="">click</a>
                                                       
                                                    </div>
                              </div>                 
                  </div>                              
                                             
        </div>
        <!-- **************************************contact us************************************* -->
        <div id="contactus" class="container tab-pane fade"><br>
          <div class=" mt-0 e">
            <div class="  container d-inline">
                  
                <img src="{% static 'images/email.png'%}" alt="" width="15%" class="d-inline "> 
                 
                 <div class="d-inline">
                   <h1  class="d-inline">YOU HAVE SOME QUESTIONS.</h1>
                  
                  </div> 
                  </div>
                  
         </div>
     
             <div class="lo container  d-flex justify-content-center">
               
               <div class="n rounded d-flex justify-content-center  ">
                 <div class="container   ">
                 <form > 
                     <label for="chk"  aria-hidden="true" class="shift justify-content-center d-flex m-1 font-weight-bold"> <h2>CONTACT US</h2></label>
                     <div class="row">
                         <div class="col">
                         <div class="form-outline">
                         <label for="text"> First Name:</label>
                         <input type="text" class="form-control rounded-lg" name="name" placeholder="First Name" required="" id="name">
                         </div>
                         </div>
                         
                         <div class="col">
                         <div class="form-outline">
                         <label for="text">Last Name:</label>
                         <input type="text" class="form-control rounded-lg" name="name" placeholder="Last Name" required="" id="name">
                         </div>
                         </div>
                         </div>
                        
                     <div>
                         <label for="email">Email address:</label>
                         <input type="email" class="form-control rounded-lg" name="email" placeholder="Enter email" required="" id="email">
                         </div>
                         
                    
                         <div class="form-outline ">
                             <label class="form-label" for="form6Example7">Massage</label>
                             <textarea class="form-control rounded-lg" id="form6Example7" placeholder="Massage" rows="2"></textarea>
                            
                           </div>
     
                           <div class="text-center mt-xl-4 ">
                             <button type="submit" class="text-white font-weight-bold border-0 w-25 "><h6>SUBMIT</h6></button>
                             </div>
                    
                 </form>
                 </div>
                 </div> 
        </div>
        </div> <br><br>
        <!--*********************************************************************** -->
        <div id="signin" class="container tab-pane fade">
          <div class="container d-flex justify-content-center mt-2 ">
            <div class="main rounded-lg justify-content-center " >
            <input type="checkbox" id="chk" class="chk" aria-hidden="true">
            <div class="signup ml-5">
                <div class="container" >
                    <form >
                    <label for="" aria-hidden="true" class="justify-content-center  d-flex text-center mt-3" ><h1>SIGN IN</h1></label>
                    <div>
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email" required="" id="email">
                    </div>
                    <div>
                      <label for="pwd">Password:</label>
                    <input type="password"  class="form-control" name="pswd" placeholder="Enter password" id="pwd" required="">
                    </div>
                    <div>
                        <label class="form-check-label"  style="padding-left:25px;">
                          <input class="form-check-input" type="checkbox" name="remember"> Remember me
                        </label>      
                         <a href="#" style=" padding-left: 70px;">Forget password?</a>
                    </div>
                    <div class="d-flex justify-content-center m-4">
                    <button type="submit" class="men w-50 font-weight-bold border-0 text-white"><h6>SIGN IN</h6></button>
                    </div>
                    <div class="text-center">
                        <p>Don't have an account? <label for="chk" aria-hidden="true" class="web"> Sign Up</label></p>
                        <p>or sign in with:</p>
                        <button type="button" class="btn btn-secondary  rounded-circle mx-1">
                          <i class="fab fa-facebook-f"></i>
                        </button>
                    
                        <button type="button" class="btn btn-secondary rounded-circle mx-1">
                          <i class="fab fa-google"></i>
                        </button>
                    
                        <button type="button" class="btn btn-secondary rounded-circle mx-1">
                          <i class="fab fa-twitter"></i>
                        </button>
                    
                        <button type="button" class="btn btn-secondary rounded-circle mx-1">
                          <i class="fab fa-github"></i>
                        </button>
                      </div>
                    
                </form> </div>
            </div>
            <div class="login h-100 bg-light">
                <div class="container">
                <form >
                    <label for="chk" id="i"  class="i text-center d-flex justify-content-center font-weight-bold m-1"aria-hidden="true"><h4>CREATE A NEW ACCOUNT</h4></label>
                    <div>
                      <div class="row">
                        <div class="col">
                        <div class="form-outline">
                        <label for="text"> First Name:</label>
                        <input type="text" class="form-control" name="name" placeholder="First Name" required="" id="name">
                        </div>
                        </div>
                        
                        <div class="col">
                        <div class="form-outline">
                        <label for="text">Last Name:</label>
                        <input type="text" class="form-control" name="name" placeholder="Last Name" required="" id="name">
                        </div>
                        </div>
                        </div>
                    <div>
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email" required="" id="email">
                        </div>
                        <div>
                          <label for="pwd">Password:</label>
                        <input type="password"  class="form-control" name="pswd" placeholder="Enter password" id="pwd" required="">
                        </div>
                        
                    <div class="d-flex justify-content-center m-4">
                    <button type="submit" class="men w-50 font-weight-bold border-0 text-white"><h6>SIGN UP</h6></button>
                    </div>
                    <div class="text-center">
                        <p><label for="chk" aria-hidden="true" class="web">I already have an account!</label></p>
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-secondary rounded-circle mx-1">
                          <i class="fab fa-facebook-f"></i>
                        </button>
                    
                        <button type="button" class="btn btn-secondary rounded-circle mx-1">
                          <i class="fab fa-google"></i>
                        </button>
                    
                        <button type="button" class="btn btn-secondary rounded-circle mx-1">
                          <i class="fab fa-twitter"></i>
                        </button>
                    
                        <button type="button" class="btn btn-secondary rounded-circle mx-1">
                          <i class="fab fa-github"></i>
                        </button>
                      </div>
                </form>
                <div></div>
            </div>
            </div>
            </div>
            </div>
        
        </div><br>
     
        
      <!-- ********************************************************************* -->
      
  
    </div>
    
 
 
    <footer class="text-center text-lg-start  text-muted "  style="background-color:#0f2e3c;">
           <br>
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="container">
      <div class="container text-center text-md-start mt-2">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <!-- <h6 class="text-uppercase fw-bold mb-"> -->
              <!-- <i class="fas fa-gem me-3"></i>Company name -->
              <img src="{% static 'images/nav.png'%}" alt="" width="130px" height="60px" class="mt-0">
                        
            <!-- </h6> -->
            <p>
                Learn new knowledge and skills in a variety of ways, from engaging video lectures and dynamic graphics to data visualizations and interactive elements.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                What's new
            </h6>
            <p>
              <a href="#!" class="text-reset">Careers</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Privacy policy</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Terms of use</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Social networks
            </h6>
            <p>
             <i class="fa-brands fa-twitter"></i> <a href="#" > twitter</a>
            </p>
            <p>
              <td><i class="fa-brands fa-instagram"></i><a href="#" > instagram</a></td>
            </p>
            <p>
              <td> <i class="fa-brands fa-facebook"></i><a href="#" > facebook</a></td>
            </p>
            <p>
              <td> <i class="fa-brands fa-whatsapp"></i><a href="#" > whatsapp</a></td>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact US</h6>
            <p><i class="fas fa-home me-3"></i> 203, swathi manors,near Aditya trade 
               centre,Ameerpet, Hyderabad, Telangana  500016
            </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              sateesh@levelupedu.net
            </p>
            <p><i class="fas fa-phone me-3"></i> +9178935 13124</p>
            <!-- <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="#">Levelup.com</a>
    </div>
    <!-- Copyright -->
    </footer>
    </div>
{% block content %}
{% endblock %}
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      ScrollReveal({ 
          reset: true,
          distance:'60px',
          duration: 1500,
          delay:200 
      
      });
      ScrollReveal().reveal('.myLeftCtn,.python,.AWS,#first,.inter,.man', { delay: 200,origin:'left' });
      ScrollReveal().reveal('.img,.butt_out,.developer,#third,.col-md-6', { delay: 200,origin:'right' });
      ScrollReveal().reveal('.Azure,.learn,#col,', { delay: 200,origin:'top' });
      ScrollReveal().reveal('.cloud,.h,.l', { delay: 200,origin:'bottom' });
  </script>  
</body>
</html>
